/* import Comfortaa typeface */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:regular,bold,italic&subset=latin,latin-ext');

.App {
  text-align: left;

  
}

.CanvasArea {
    padding-top: 4vh;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

* h4 {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 2vh;
}

* h5 {
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}

.App-link {
  color: #61dafb;
} 

* canvas { 
    /* border: 5px solid #121315;  */
    /* border: 5px solid transparent;
    border-image: linear-gradient(45deg, red, yellow);
    border-image-slice: 1; */
    /* height: 120px; */
    background-color: #40444b;
    border-radius: 25px;
}

.samplererrormsg {
    padding-top: 3vh;
}

.canvasbuttons {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

/* .tablediv {
    display: flex;
    justify-content: center;   
} */


.tablediv {
    display: flex;
    justify-content: center;   
}

table {
    width: 50%;
    /* border-collapse: collapse; */
    border-radius: 25px;
    border: 3px solid #121315;
    /* overflow: hidden; */
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    /* background-image:  linear-gradient(45deg, rgba(64, 68, 75, 0.5), rgba(137, 207, 240, 0.5)); */
    background: #40444b;
}
th, td {
    padding: 1vh; 
    color: white;
}
th {
    text-align: center;
}


.sampledownloader {
    padding-top: 1vh;
    display: flex;
    justify-content: center;
}

.samplescroller {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;   
    text-align: center;
    font-family: "Source Code Pro";
}

img {
    width: 3%;
    height: 3%;
    padding-right: 1vh;
    vertical-align:center;
    }


::selection {
    background: #afafaf; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #afafaf; /* Gecko Browsers */
}
