.App {
  text-align: left;
}

.App-header {
  background-color: #2f3136;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding-top: 4vh; */
  padding-bottom: 20vh;
}

.App-link {
  color: #61dafb;
} 

* canvas{ 
    /* border: 1px solid #121315;  */
    background-color: #40444b;
}

.tablediv {
    display: flex;
    justify-content: center;
}

::selection {
    background: #afafaf; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #afafaf; /* Gecko Browsers */
}
