.App {
  text-align: center;
}

.App-header {
  background-color: #0A1929;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} 

* canvas{ border: 5px solid #0d80d8; }

.tablediv {
    display: flex;
    justify-content: center;
}

::selection {
    background: #afafaf; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #afafaf; /* Gecko Browsers */
}

body {
    padding-top: 1vh;
    padding-bottom: 20vh;
    background-color: #0A1929;
}